/*!
Theme Name: CryptoCurrency Theme
Theme URI: http://www.shekhkamal.com
Author: Shekh Kamal Hussain
Author URI: http://www.shekhkamal.com
Description: Custom Theme for :
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: crypto_currency
Tags:



CryptoCurrency Theme  is distributed under the terms of the GNU GPL v2 or later.


*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@font-face {
  font-family: 'sansf-light';
  src: url("./assets/fonts/SanFranciscoText-Light.otf") format("opentype");
}
@font-face {
  font-family: 'sansf-regular';
  src: url("./assets/fonts/SanFranciscoText-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'sansf-semibold';
  src: url("./assets/fonts/SanFranciscoText-Semibold.otf") format("opentype");
}
@font-face {
  font-family: 'sansf-bold';
  src: url("./assets/fonts/SanFranciscoText-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'sansf-heavy';
  src: url("./assets/fonts/SanFranciscoText-Heavy.otf") format("opentype");
}
/* link Color */
/* =======================================================================
## ++ Media Queries
========================================================================== */
/*
    Used for media queries.
    Add these mixins in your normal scss flow.

    Eg.
    .container{
        width:1024px;

        @include tablets{
            width:90%;
        }
    }
*/
/* =======================================================================
## ++ Unit transform
========================================================================== */
/*
    Used for making containers have width in percentages.
    Usage: define elemnt width in px and the width of parent elemnt in px.
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}
*/
/*
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/
/*
    Link hover and active stage
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.55;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#page_theme {
  /* =======================================================================
  ## ++ Globals
  ========================================================================== */
  /* =======================================================================
  ## ++ Cleafix
  ========================================================================== */
  /* float clearing for IE6 */
  /* float clearing for IE7 */
  /* float clearing for everyone else */
  /* Divi Builder CSS Fix as per Bootstrap */
  /*
  **
  ** MOBILE VERSION
  **
  */
  /* btn */
  /* example 5 */
  /* Widget */
}
#page_theme html {
  font-size: 100%;
}
#page_theme body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
#page_theme * {
  box-sizing: border-box;
}
#page_theme * html .clearfix, #page_theme * html #skh-version__2, #page_theme * html #skh-version__2 .menu--wrapper, #page_theme #skh-version__2 * html .menu--wrapper, #page_theme * html .mobile-menu__brand, #page_theme * html .mobile-menu--wrapper {
  height: 1%;
  overflow: visible;
}
#page_theme * + html .clearfix, #page_theme * + html #skh-version__2, #page_theme * + html #skh-version__2 .menu--wrapper, #page_theme #skh-version__2 * + html .menu--wrapper, #page_theme * + html .mobile-menu__brand, #page_theme * + html .mobile-menu--wrapper {
  min-height: 1%;
}
#page_theme .clearfix:after, #page_theme #skh-version__2:after, #page_theme #skh-version__2 .menu--wrapper:after, #page_theme .mobile-menu__brand:after, #page_theme .mobile-menu--wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
#page_theme .clr {
  clear: both;
}
#page_theme .et_divi_builder #et_builder_outer_content .et_pb_row {
  max-width: 1140px;
}
#page_theme #et_builder_outer_content div {
  color: inherit;
}
@media screen and (max-width: 767px) {
  #page_theme .et_pb_section.et_section_transparent {
    padding-left: 5%;
    padding-right: 5%;
  }
}
#page_theme #nf-form-1-cont input {
  height: 50px;
  display: block;
  width: 100%;
  border: solid 1px #ddd;
}
#page_theme #nf-form-1-cont input:focus {
  border-color: #e77e22;
}
#page_theme #nf-form-1-cont textarea {
  border: solid 1px #ddd;
}
#page_theme #nf-form-1-cont textarea:focus {
  border-color: #e77e22;
}
#page_theme #nf-form-1-cont input[type="button"] {
  text-align: center;
  color: white;
  font-family: "sansf-bold";
  text-transform: uppercase;
  background-color: #e77e22;
  border: none;
  margin-top: 15px;
  border-radius: 3px !important;
  cursor: pointer;
}
#page_theme #nf-form-1-cont input[type="button"]:hover {
  background-color: #c16515;
}
#page_theme #nf-form-1-cont label {
  margin-top: 15px;
  color: #999;
}
#page_theme #nf-form-1-cont .nf-form-fields-required {
  display: none;
}
#page_theme #nf-form-1-cont .nf-response-msg {
  background-color: #e77e22;
  padding: 35px;
  color: white;
  text-align: center;
}
#page_theme #nf-form-1-cont .nf-response-msg:before {
  content: '\f003';
  font-size: 36px;
  font-family: 'FontAwesome';
}
#page_theme #nf-form-1-cont .nf-response-msg p {
  font-size: 25px;
}
@media (max-width: 980px) {
  #page_theme .et_pb_section {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
@media (max-width: 1120px) {
  #page_theme .et_section_transparent {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
#page_theme h1 {
  font-size: 36px;
}
#page_theme h2 {
  font-size: 30px;
}
#page_theme h3 {
  font-size: 24px;
}
#page_theme h4 {
  font-size: 18px;
}
#page_theme h5 {
  font-size: 14px;
}
#page_theme h6 {
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  #page_theme h1 {
    font-size: 30px !important;
  }
  #page_theme h2 {
    font-size: 26px !important;
  }
  #page_theme h3 {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 767px) {
  #page_theme h1 {
    font-size: 22px !important;
  }
  #page_theme h2 {
    font-size: 18px !important;
  }
  #page_theme h3 {
    font-size: 16px !important;
  }
  #page_theme h4 {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 500px) {
  #page_theme h1 {
    font-size: 20px !important;
  }
}
#page_theme h1,
#page_theme h2,
#page_theme h3,
#page_theme h4,
#page_theme h5,
#page_theme h6 {
  clear: both;
  line-height: 1.3;
  font-family: "sansf-regular" !important;
}
@media screen and (max-width: 767px) {
  #page_theme p {
    font-size: 13px;
  }
}
#page_theme a {
  color: grey;
}
#page_theme .heading_paragraph h1 {
  color: #333;
  font-family: Lato;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}
#page_theme .heading_paragraph p {
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  color: #333 !important;
  line-height: 1.5;
}
#page_theme input[type="text"],
#page_theme input[type="email"],
#page_theme input[type="url"],
#page_theme input[type="password"],
#page_theme input[type="search"],
#page_theme input[type="number"],
#page_theme input[type="tel"],
#page_theme input[type="range"],
#page_theme input[type="date"],
#page_theme input[type="month"],
#page_theme input[type="week"],
#page_theme input[type="time"],
#page_theme input[type="datetime"],
#page_theme input[type="datetime-local"],
#page_theme input[type="color"],
#page_theme textarea, #page_theme select {
  color: #555;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 7px 5px;
  font-weight: normal;
}
#page_theme input[type="text"]::-moz-placeholder,
#page_theme input[type="email"]::-moz-placeholder,
#page_theme input[type="url"]::-moz-placeholder,
#page_theme input[type="password"]::-moz-placeholder,
#page_theme input[type="search"]::-moz-placeholder,
#page_theme input[type="number"]::-moz-placeholder,
#page_theme input[type="tel"]::-moz-placeholder,
#page_theme input[type="range"]::-moz-placeholder,
#page_theme input[type="date"]::-moz-placeholder,
#page_theme input[type="month"]::-moz-placeholder,
#page_theme input[type="week"]::-moz-placeholder,
#page_theme input[type="time"]::-moz-placeholder,
#page_theme input[type="datetime"]::-moz-placeholder,
#page_theme input[type="datetime-local"]::-moz-placeholder,
#page_theme input[type="color"]::-moz-placeholder,
#page_theme textarea::-moz-placeholder, #page_theme select::-moz-placeholder {
  color: #999;
  opacity: 0.8;
}
#page_theme input[type="text"]:-ms-input-placeholder,
#page_theme input[type="email"]:-ms-input-placeholder,
#page_theme input[type="url"]:-ms-input-placeholder,
#page_theme input[type="password"]:-ms-input-placeholder,
#page_theme input[type="search"]:-ms-input-placeholder,
#page_theme input[type="number"]:-ms-input-placeholder,
#page_theme input[type="tel"]:-ms-input-placeholder,
#page_theme input[type="range"]:-ms-input-placeholder,
#page_theme input[type="date"]:-ms-input-placeholder,
#page_theme input[type="month"]:-ms-input-placeholder,
#page_theme input[type="week"]:-ms-input-placeholder,
#page_theme input[type="time"]:-ms-input-placeholder,
#page_theme input[type="datetime"]:-ms-input-placeholder,
#page_theme input[type="datetime-local"]:-ms-input-placeholder,
#page_theme input[type="color"]:-ms-input-placeholder,
#page_theme textarea:-ms-input-placeholder, #page_theme select:-ms-input-placeholder {
  color: #999;
}
#page_theme input[type="text"]::-webkit-input-placeholder,
#page_theme input[type="email"]::-webkit-input-placeholder,
#page_theme input[type="url"]::-webkit-input-placeholder,
#page_theme input[type="password"]::-webkit-input-placeholder,
#page_theme input[type="search"]::-webkit-input-placeholder,
#page_theme input[type="number"]::-webkit-input-placeholder,
#page_theme input[type="tel"]::-webkit-input-placeholder,
#page_theme input[type="range"]::-webkit-input-placeholder,
#page_theme input[type="date"]::-webkit-input-placeholder,
#page_theme input[type="month"]::-webkit-input-placeholder,
#page_theme input[type="week"]::-webkit-input-placeholder,
#page_theme input[type="time"]::-webkit-input-placeholder,
#page_theme input[type="datetime"]::-webkit-input-placeholder,
#page_theme input[type="datetime-local"]::-webkit-input-placeholder,
#page_theme input[type="color"]::-webkit-input-placeholder,
#page_theme textarea::-webkit-input-placeholder, #page_theme select::-webkit-input-placeholder {
  color: #999;
}
#page_theme input[type="text"]:focus,
#page_theme input[type="email"]:focus,
#page_theme input[type="url"]:focus,
#page_theme input[type="password"]:focus,
#page_theme input[type="search"]:focus,
#page_theme input[type="number"]:focus,
#page_theme input[type="tel"]:focus,
#page_theme input[type="range"]:focus,
#page_theme input[type="date"]:focus,
#page_theme input[type="month"]:focus,
#page_theme input[type="week"]:focus,
#page_theme input[type="time"]:focus,
#page_theme input[type="datetime"]:focus,
#page_theme input[type="datetime-local"]:focus,
#page_theme input[type="color"]:focus,
#page_theme textarea:focus {
  color: #111;
  border: solid 1px #555;
}
#page_theme textarea {
  width: 100%;
}
#page_theme button,
#page_theme input[type="button"],
#page_theme input[type="reset"],
#page_theme input[type="submit"] {
  border: solid 1px #333;
  border-radius: 3px;
  line-height: 1;
  padding: 11px 2px;
  background-color: #ddd;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#page_theme .hero_header_section .caption_module {
  margin-bottom: 8% !important;
}
#page_theme .hero_header_section .caption_module h1 {
  color: #333;
  font-size: 36px;
  font-weight: 900;
}
#page_theme .hero_header_section .caption_module h4 {
  color: #333;
  font-size: 22px;
  font-weight: 400;
}
#page_theme .image_text_block .image_block {
  padding-top: 25%;
}
@media (max-width: 980px) {
  #page_theme .image_text_block .image_block {
    padding-top: 15%;
  }
}
#page_theme .image_text_block div.text_block {
  align-self: center;
  padding-left: 8%;
}
@media (max-width: 980px) {
  #page_theme .image_text_block div.text_block {
    padding-left: 0px;
    padding-bottom: 15%;
  }
}
#page_theme .image_text_block div.text_block div {
  display: block;
  width: 100%;
}
@media (max-width: 980px) {
  #page_theme .image_text_block div.text_block div {
    text-align: center;
  }
}
#page_theme .image_text_block div.text_block h1 {
  color: #333;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}
#page_theme .image_text_block div.text_block h4 {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}
#page_theme .image_text_block div.text_block h5 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
}
#page_theme .text_image_block div.text_block {
  align-self: center;
}
#page_theme .text_image_block div.text_block div {
  display: block;
  width: 100%;
}
@media (max-width: 980px) {
  #page_theme .text_image_block div.text_block div {
    text-align: center;
  }
}
#page_theme .text_image_block div.text_block h1 {
  color: #333;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}
#page_theme .text_image_block div.text_block h4 {
  color: #333;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}
#page_theme .text_image_block div.text_block h5 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
}
#page_theme .mac_img_screen.et_pb_row {
  max-width: 100% !important;
  width: 100% !important;
}
#page_theme .mac_img_screen.et_pb_row .et_pb_column_6 {
  padding-right: 20%;
}
#page_theme .mac_img_screen.et_pb_row .et_pb_image {
  position: relative;
  height: 300px;
}
#page_theme .home_blurb p {
  color: #555 !important;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 15px !important;
}
#page_theme .home_blurb h4 {
  color: #333;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}
#page_theme #skh-version__2 {
  position: relative;
  margin-bottom: 55px;
  /* Menu Container */
  /* Menu Item List Elements */
}
@media screen and (max-width: 767px) {
  #page_theme #skh-version__2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  #page_theme #skh-version__2 .menu {
    display: none;
  }
}
#page_theme #skh-version__2 .menu__brand {
  width: 25%;
  display: block;
  float: left;
  margin-top: 10px;
}
#page_theme #skh-version__2 .menu__brand img {
  max-height: 45px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#page_theme #skh-version__2 .menu__list {
  text-align: right;
}
#page_theme #skh-version__2 .menu__list--wrapper {
  position: relative;
  list-style-type: none;
  width: 75%;
  display: block;
  float: left;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 12px;
}
#page_theme #skh-version__2 .menu--wrapper {
  position: relative;
  background-color: #333;
  z-index: 10;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0px 25px;
  height: 55px;
}
@media (max-width: 1100px) {
  #page_theme #skh-version__2 .menu--wrapper {
    height: auto;
  }
}
#page_theme #skh-version__2 .menu--wrapper .menu--base {
  position: relative;
  height: 55px;
  max-width: 1140px;
  display: block;
  margin: 0 auto;
}
#page_theme #skh-version__2 .menu .menu-item {
  display: inline-block;
  margin: 5px;
  position: relative;
}
#page_theme #skh-version__2 .menu .menu-item.home-icon a {
  font-size: 0px;
  padding: 0px;
}
#page_theme #skh-version__2 .menu .menu-item.home-icon a:before {
  content: '\f015';
  font-family: 'FontAwesome';
  font-size: 14px;
}
#page_theme #skh-version__2 .menu .menu-item a {
  padding: 5px 15px;
  background-color: transparent;
  text-decoration: none;
  color: #eee;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#page_theme #skh-version__2 .menu .menu-item a:hover {
  color: #e77e22;
}
#page_theme #skh-version__2 .menu .menu-item:hover a,
#page_theme #skh-version__2 .menu .menu-item:focus a,
#page_theme #skh-version__2 .menu .menu-item.current_page_item a {
  color: #e77e22;
}
#page_theme #skh-version__2 .menu--is-fixed .menu--wrapper {
  position: fixed;
  width: 100%;
}
#page_theme #skh-version__2 .menu--is-fixed.scroll .menu--wrapper {
  padding: 8px 25px;
}
#page_theme #skh-version__2 .menu--is-fixed.scroll .menu__list--wrapper {
  padding-top: 4px;
}
#page_theme #skh-version__2 .menu--is-fixed.scroll .menu__brand img {
  max-height: 40px;
}
#page_theme .mobile-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  #page_theme .mobile-menu {
    display: block;
  }
}
#page_theme .mobile-menu {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 50px;
}
#page_theme .mobile-menu .overlay {
  content: '';
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 50px;
}
#page_theme .mobile-menu .overlay.open-menu {
  width: 100%;
}
#page_theme .mobile-menu__brand {
  display: block;
  float: right;
}
#page_theme .mobile-menu__brand img {
  max-height: 35px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: right;
}
#page_theme .mobile-menu__list {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 5;
  top: 50px;
  left: 0px;
  background-color: #333;
  overflow: hidden;
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#page_theme .mobile-menu__list a {
  width: 100%;
  padding: 10px 15px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: solid 1px #111;
}
#page_theme .mobile-menu__list a:hover {
  text-decoration: none;
  color: #e77e22;
}
#page_theme .mobile-menu__list a {
  display: none;
}
#page_theme .mobile-menu__list.open-menu {
  width: 80%;
}
#page_theme .mobile-menu__list.open-menu a {
  display: block;
}
#page_theme .mobile-menu__list--wrapper {
  position: relative;
  list-style-type: none;
  display: block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#page_theme .mobile-menu--wrapper {
  position: relative;
  background-color: #333;
  z-index: 10;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 8px 15px;
}
#page_theme .toggleTopMenu-mobile {
  position: absolute !important;
  top: 12px;
}
#page_theme .anim-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#page_theme .anim-btn span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
#page_theme .anim-btn span:before,
#page_theme .anim-btn span:after {
  position: absolute;
  content: '';
}
#page_theme .anim-btn span,
#page_theme .anim-btn span:before,
#page_theme .anim-btn span:after {
  width: 30px;
  height: 3px;
  background-color: #888;
  display: block;
}
#page_theme .anim-btn span:before {
  margin-top: -8px;
}
#page_theme .anim-btn span:after {
  margin-top: 8px;
}
#page_theme .example5 span {
  transition-duration: 0s;
  transition-delay: .1s;
}
#page_theme .example5 span {
  background-color: transparent;
  transition-delay: .1s;
}
#page_theme .example5 span:before {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}
#page_theme .example5 span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, .2s;
}
#page_theme .example5 span:after {
  transition-property: margin, transform;
  transition-duration: .2s;
  transition-delay: .2s, 0;
}
#page_theme .example5 span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, .2s;
}
#page_theme .hosting_blurb h5 {
  color: #333 !important;
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
}
#page_theme .hosting_blurb p {
  color: #555 !important;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}
#page_theme .rules_list {
  line-height: 1.7;
}
#page_theme .rules_list h4 {
  font-size: 25px;
  margin-bottom: 25px !important;
  border-bottom: solid 1px #ddd;
  padding-bottom: 25px !important;
}
#page_theme .rules_list ol {
  margin: 0px !important;
}
#page_theme .rules_list ol li {
  margin-bottom: 15px;
}
#page_theme ul, #page_theme ol {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}
#page_theme ul {
  list-style: disc;
}
#page_theme ol {
  list-style: decimal;
}
#page_theme li > ul,
#page_theme li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
#page_theme dt {
  font-weight: bold;
}
#page_theme dd {
  margin: 0px;
  padding: 0px;
}
#page_theme .guide_download_box h3 {
  color: #333;
  font-size: 25px;
  font-family: Lato;
  font-weight: 900;
  margin-bottom: 20px !important;
}
#page_theme .guide_download_box h4 {
  color: #333;
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px !important;
}
#page_theme .list_style li {
  margin-bottom: 15px !important;
}
#page_theme .faq_section h1 {
  height: 18px;
  color: #333;
  font-family: Lato;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 50px !important;
}
#page_theme .faq_section h3 {
  color: #333;
  font-family: Lato;
  font-size: 22px;
  font-weight: 900;
  margin-top: 30px !important;
}
#page_theme .faq_section p {
  color: #333;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
#page_theme .distributor_list h2 {
  color: #333;
  font-family: Lato;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 25px !important;
}
#page_theme .distributor_list h4 {
  color: #333;
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px !important;
}
#page_theme .site-footer {
  border-top: solid 1px #eee;
  padding-top: 65px;
  padding-bottom: 55px;
}
@media screen and (max-width: 767px) {
  #page_theme .site-footer {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #page_theme .site-footer .img-responsive {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  #page_theme .site-footer .container {
    max-width: 100% !important;
  }
}
#page_theme .site-footer .footer-info {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #777;
  font-size: 11px;
  font-weight: 500;
}
#page_theme .site-footer .column_base h5 {
  color: #333;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  #page_theme .site-footer .column_base h5 {
    border-top: solid 1px #eee;
    padding-top: 10px;
  }
}
#page_theme .site-footer .column_base ul {
  list-style-type: none;
  padding: 0px;
}
#page_theme .site-footer .column_base ul li {
  margin-bottom: 7px;
}
#page_theme .site-footer .column_base ul li a {
  color: #777;
  font-size: 11px;
}
#page_theme .site-footer .column_base ul i {
  font-size: 14px;
  vertical-align: middle;
}
#page_theme article {
  margin-top: 25px;
}
#page_theme .comments-area h2 {
  font-size: 14px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}
#page_theme .comments-area .comment-reply-title {
  font-size: 14px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}
#page_theme #commentform label {
  display: block !important;
  color: #777 !important;
}
#page_theme #commentform input {
  display: block !important;
  width: 70% !important;
}
#page_theme .post_thumb article.thumbnail {
  background-color: #f5f5f5;
  padding: 30px;
}
#page_theme .post_thumb article.thumbnail .entry-title {
  color: #333;
  font-family: Lato;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 15px !important;
}
#page_theme .post_thumb article.thumbnail .entry-title a:hover {
  color: #e77e22;
  text-decoration: none;
}
#page_theme .post_thumb article.thumbnail p {
  color: #333;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
#page_theme .post_thumb article.thumbnail a.link_line {
  color: #e77e22;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: 15px;
}
#page_theme .single-post #main h1.entry-title {
  padding-left: 25px !important;
}
#page_theme .navigation_custom {
  margin-bottom: 30px;
}
#page_theme .navigation_custom ul {
  padding: 0px;
}
#page_theme .navigation_custom ul li {
  display: inline-block;
  margin-top: 30px;
}
#page_theme .navigation_custom li a,
#page_theme .navigation_custom li a:hover,
#page_theme .navigation_custom li.active a,
#page_theme .navigation_custom li.disabled {
  color: #fff;
  text-decoration: none;
}
#page_theme .navigation_custom li {
  display: inline;
}
#page_theme .navigation_custom li a,
#page_theme .navigation_custom li a:hover,
#page_theme .navigation_custom li.active a,
#page_theme .navigation_custom li.disabled {
  background-color: #e77e22;
  border-radius: 3px;
  cursor: pointer;
  padding: 12px 17px !important;
  padding: 0.75rem;
}
#page_theme .navigation_custom li a:hover,
#page_theme .navigation_custom li.active a {
  background-color: #934d10;
}
#page_theme aside {
  margin-top: 25px;
}
#page_theme aside .search-form span {
  display: none;
}
#page_theme aside .widget {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eee;
}
#page_theme aside .widget-title {
  font-size: 15px;
  font-weight: bold;
}
#page_theme aside ul li {
  padding: 5px 0px;
  font-size: 14px;
}
#page_theme aside ul li a {
  color: #777;
}
#page_theme aside .search-form label {
  width: 70% !important;
}
#page_theme aside .search-form input {
  width: 100%;
  border: 1px #ddd solid;
}
#page_theme aside .search-form .search-submit {
  width: 30% !important;
  margin-left: -8px;
}
#page_theme aside .widget_search label {
  width: 100% !important;
}
#page_theme aside .widget_search label span {
  display: none;
}
#page_theme aside .widget_search input {
  width: 100% !important;
}
#page_theme aside .widget_search .search-submit {
  display: none;
}
@media (max-width: 980px) {
  #page_theme .team_member {
    border: solid 1px #ddd;
    padding: 7%;
    background-color: white;
    border-radius: 3px;
  }
}
#page_theme .woocommerce-breadcrumb {
  display: none;
}
#page_theme .type-product {
  padding-top: 5%;
}
#page_theme .type-product .woocommerce-product-gallery__wrapper {
  border: solid 1px #ddd;
}
#page_theme .woocommerce-product-gallery {
  float: left;
  width: 35% !important;
}
#page_theme div.summary {
  float: right;
  width: 60% !important;
}
#page_theme .price {
  color: #e87b22 !important;
}
#page_theme .woocommerce-product-details__short-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 25px;
}
#page_theme .woocommerce-variation-price {
  background-color: #f1f1f3;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  margin: 10px 0 25px;
}
#page_theme .woocommerce-variation-price .price {
  color: #333;
  font-size: 25px;
}
#page_theme .variations .label {
  color: #555;
  font-weight: 400 !important;
  font-size: 15px;
  line-height: 3 !important;
}
#page_theme .variations label {
  font-weight: 400 !important;
}
#page_theme .variations .reset_variations {
  display: none !important;
}
#page_theme .variations select {
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #999;
  text-align: center;
  background-color: #FFF;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0px;
}
#page_theme .woocommerce div.product form.cart .variations td,
#page_theme .woocommerce div.product form.cart .variations th {
  border: 0;
  vertical-align: top;
  line-height: 5em;
}
#page_theme .woocommerce-variation-add-to-cart .quantity {
  display: block !important;
  width: 100%;
  margin-bottom: 15px;
}
#page_theme .woocommerce-variation-add-to-cart .quantity label {
  font-weight: 400;
  font-size: 15px;
}
#page_theme .woocommerce-variation-add-to-cart input {
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #999;
}
#page_theme .single_add_to_cart_button {
  border-width: 0px !important;
  border-radius: 5px !important;
  font-size: 16px;
  background-color: #e87b22;
  padding: 20px 15px;
  min-width: 170px;
}
#page_theme .single_add_to_cart_button:hover {
  background-color: #c36314;
}
#page_theme .product_meta {
  display: none;
}
#page_theme .tabs.wc-tabs {
  background-color: #f1f1f3;
  border-bottom: none;
}
#page_theme .tabs.wc-tabs li {
  border: none;
  border-radius: 0px;
  line-height: 2;
  background-color: transparent;
  padding: 0px;
  margin: 0% 3%;
  font-size: 17px;
  font-weight: normal;
}
#page_theme .tabs.wc-tabs li a {
  font-weight: normal;
  color: #333;
}
#page_theme .tabs.wc-tabs li:before {
  display: none;
}
#page_theme .tabs.wc-tabs li:after {
  display: none;
}
#page_theme .tabs.wc-tabs li.active {
  background-color: transparent;
  border-bottom: solid 3px #e87b22;
}
#page_theme .tabs.wc-tabs li.active a {
  font-weight: bold;
}
#page_theme .custom_tab h2 {
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
#page_theme .custom_tab ul {
  list-style-type: none;
  padding: 0px;
}
#page_theme .custom_tab ul li {
  padding: 8px 0px;
}
#page_theme .custom_tab table {
  width: 80%;
}
#page_theme .custom_tab table td {
  border: solid #ddd 1px;
  text-align: center;
  padding: 25px;
}

/*# sourceMappingURL=style.css.map */
