/*!
Theme Name: CryptoCurrency Theme
Theme URI: http://www.shekhkamal.com
Author: Shekh Kamal Hussain
Author URI: http://www.shekhkamal.com
Description: Custom Theme for :
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: crypto_currency
Tags:



CryptoCurrency Theme  is distributed under the terms of the GNU GPL v2 or later.


*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@font-face {
    font-family: 'sansf-light';
    src: url('./assets/fonts/SanFranciscoText-Light.otf') format('opentype');
}

@font-face {
    font-family: 'sansf-regular';
    src: url('./assets/fonts/SanFranciscoText-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'sansf-semibold';
    src: url('./assets/fonts/SanFranciscoText-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'sansf-bold';
    src: url('./assets/fonts/SanFranciscoText-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'sansf-heavy';
    src: url('./assets/fonts/SanFranciscoText-Heavy.otf') format('opentype');
}

$font-light: 'sansf-light';
$font-regular: 'sansf-regular';
$font-semibold: 'sansf-semibold';
$font-bold: 'sansf-bold';
$font-heavy: 'sansf-heavy';
@import 'compass';
@import "components/variables";
@import "components/mixins";
@import "components/reset";
#page_theme {
    @import "components/global";
    @import "components/typography";
    @import "components/form";
    @import "components/homepage";
    @import "components/header-v2";
    @import "components/hosting";
    @import "components/list";
    @import "components/guide";
    @import "components/faq";
    @import "components/distri";
    @import "components/footer";
    @import "components/blog";
    @import "components/aside";
    @import "components/team";
    @import "components/shop";
}