article {
    margin-top: 25px;
}

.comments-area {
    h2 {
        font-size: 14px;
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        padding: 15px 0;
    }
    .comment-reply-title {
        font-size: 14px;
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        padding: 15px 0;
    }
}

#commentform {
    label {
        display: block !important;
        color: #777 !important;
    }
    input {
        display: block !important;
        width: 70% !important;
    }
}

.post_thumb {
    article.thumbnail {
        background-color: #f5f5f5;
        padding: 30px;
        .entry-title {
            color: #333;
            font-family: Lato;
            font-size: 25px;
            font-weight: 900;
            margin-bottom: 15px !important;
            & a:hover {
                color: $pt-color;
                text-decoration: none;
            }
        }
        p {
            color: #333;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
        }
        a.link_line {
            color: #e77e22;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            position: relative;
            top: 15px;
        }
    }
}

.single-post{

    #main h1.entry-title{
        padding-left: 25px !important;
    }
}


.navigation_custom {
    //margin-top: 15px;
    margin-bottom: 30px;
    ul{
        padding: 0px;

        li{
            display: inline-block;
            margin-top: 30px;
        }
    }
}
.navigation_custom li a,
.navigation_custom li a:hover,
.navigation_custom li.active a,
.navigation_custom li.disabled {
    color: #fff;
    text-decoration:none;
}
 
.navigation_custom li {
    display: inline;
}
 
.navigation_custom li a,
.navigation_custom li a:hover,
.navigation_custom li.active a,
.navigation_custom li.disabled {
    background-color: $pt-color;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px 17px !important;
    padding: 0.75rem;
}
 
.navigation_custom li a:hover,
.navigation_custom li.active a {
    background-color: darken($pt-color, 20%);
}