.distributor_list {
    h2 {
        color: #333;
        font-family: Lato;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 25px !important;
    }
    h4 {
        color: #333;
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 10px !important;
    }
}