.site-footer {
    border-top: solid 1px #eee;
    padding-top: 65px;
    padding-bottom: 55px;
    @include normal() {
        text-align: center;
    }
    .img-responsive {
        @include normal() {
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }
    .container {
        @media(max-width: 1200px) {
            max-width: 100% !important;
        }
    }
    .footer-info {
        margin-top: 15px;
        margin-bottom: 10px;
        color: #777;
        font-size: 11px;
        font-weight: 500;
    }
    .column_base {
        h5 {
            color: #333;
            font-size: 12px;
            margin-bottom: 8px;
            font-weight: 700;
            @include normal() {
                border-top: solid 1px #eee;
                padding-top: 10px;
            }
        }
        ul {
            list-style-type: none;
            padding: 0px;
            li {
                margin-bottom: 7px;
                a {
                    color: #777;
                    font-size: 11px;
                }
            }
            i {
                font-size: 14px;
                vertical-align: middle;
            }
        }
    }
}