/* =======================================================================
## ++ Globals
========================================================================== */

html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}


/* =======================================================================
## ++ Cleafix
========================================================================== */


/* float clearing for IE6 */

* html .clearfix {
    height: 1%;
    overflow: visible;
}


/* float clearing for IE7 */

*+html .clearfix {
    min-height: 1%;
}


/* float clearing for everyone else */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.clr {
    clear: both;
}


/* Divi Builder CSS Fix as per Bootstrap */

.et_divi_builder #et_builder_outer_content .et_pb_row {
    max-width: 1140px;
}

#et_builder_outer_content {
    div {
        color: inherit;
    }
}

.et_pb_section.et_section_transparent {
    @include normal() {
        padding-left: 5%;
        padding-right: 5%;
    }
}

#nf-form-1-cont {
    input {
        height: 50px;
        display: block;
        width: 100%;
        border:solid 1px #ddd;
        &:focus{
            border-color: $pt-color;
        }
    }
    textarea{
        border:solid 1px #ddd;
        &:focus{
            border-color: $pt-color;
        }
    }
    input[type="button"] {
        text-align: center;
        color: white;
        font-family: $font-bold;
        text-transform: uppercase;
        background-color: $pt-color;
        border: none;
        margin-top: 15px;
        border-radius: 3px !important;
        cursor: pointer;
        &:hover{
            background-color: darken($pt-color, 10%);
        }
    }
    label {
        margin-top: 15px;
        color: #999;
    }

    .nf-form-fields-required{
        display: none;
    }

    .nf-response-msg{
        background-color: $pt-color;
        padding: 35px;
        color: white;
        text-align: center;

        &:before{
            content: '\f003';
            font-size: 36px;
            font-family: 'FontAwesome';
        }

        p{
            font-size: 25px;
        }
    }
}

@media (max-width: 980px){
    .et_pb_section {
        padding-left: 4% !important;
        padding-right: 4%!important;
    }
}

.et_section_transparent{
@media(max-width:1120px){
    padding-left: 4% !important;
    padding-right: 4%!important;
}
}