.guide_download_box {
    h3 {
        color: #333;
        font-size: 25px; // Text style for "A"
        font-family: Lato;
        font-weight: 900;
        margin-bottom: 20px !important;
    }
    h4 {
        color: #333;
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 20px !important;
    }
}

.list_style{

    li{
        margin-bottom: 15px !important;
    }
}