.hero_header_section {
    .caption_module {
        h1 {
            color: #333;
            font-size: 36px;
            font-weight: 900;
        }
        h4 {
            color: #333;
            font-size: 22px;
            font-weight: 400;
        }
        margin-bottom: 8% !important;
    }
    .image_module {
        //width: 85%;
    }
}

.image_text_block {
    .image_block {
        padding-top: 25%;
        @media(max-width: 980px) {
            padding-top: 15%;
        }
    }
    div.text_block {
        align-self: center;
        padding-left: 8%;
        @media(max-width: 980px) {
            padding-left: 0px;
            padding-bottom: 15%;
        }
        div {
            display: block;
            width: 100%;
            @media(max-width: 980px) {
                text-align: center;
            }
        }
        h1 {
            color: #333;
            font-size: 36px;
            font-weight: 900;
            line-height: 1.5;
        }
        h4 {
            color: #333;
            font-size: 22px;
            font-weight: 400;
            line-height: 1.5;
        }
        h5 {
            font-size: 16px;
            font-weight: 400;
            color: #333;
            line-height: 1.5;
        }
    }
}

.text_image_block {
    .image_block {}
    div.text_block {
        align-self: center;
        div {
            display: block;
            width: 100%;
            @media(max-width: 980px) {
                text-align: center;
            }
        }
        h1 {
            color: #333;
            font-size: 36px;
            font-weight: 900;
            line-height: 1.5;
        }
        h4 {
            color: #333;
            font-size: 22px;
            font-weight: 400;
            line-height: 1.5;
        }
        h5 {
            font-size: 16px;
            font-weight: 400;
            color: #333;
            line-height: 1.5;
        }
    }
}

.mac_img_screen.et_pb_row {
    max-width: 100% !important;
    width: 100% !important;
    .et_pb_column_6 {
        padding-right: 20%;
    }
    .et_pb_image {
        position: relative;
        height: 300px;
    }
}

.home_blurb {
    p {
        color: #555 !important;
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 15px !important;
    }
    h4 {
        color: #333;
        font-size: 17px;
        font-weight: 700;
        line-height: 30px;
    }
}