.hosting_blurb {
    h5 {
        color: #333 !important;
        font-family: Lato;
        font-size: 17px;
        font-weight: 700;
    }
    p {
        color: #555 !important;
        font-family: Lato;
        font-size: 15px;
        font-weight: 400;
    }
}

.rules_list {
    line-height: 1.7;
    h4 {
        font-size: 25px;
        margin-bottom: 25px !important;
        border-bottom: solid 1px #ddd;
        padding-bottom: 25px !important;
    }
    ol {
        //padding: 0px;
        margin: 0px !important;
        li {
            margin-bottom: 15px;
        }
    }
}