.woocommerce-breadcrumb{
    display: none;
}
.type-product {
    padding-top: 5%;
    .woocommerce-product-gallery__wrapper {
        border: solid 1px #ddd;
    }
}

.woocommerce-product-gallery {
    float: left;
    width: 35% !important;
}

div.summary {
    float: right;
    width: 60% !important;
}

.price {
    color: #e87b22 !important;
}

.woocommerce-product-details__short-description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 25px;
}

.woocommerce-variation-price {
    background-color: #f1f1f3;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    margin: 10px 0 25px;
    .price {
        color: #333;
        font-size: 25px;
    }
}

.variations {
    .label {
        //display: none;
        color: #555;
        font-weight: 400 !important;
        font-size: 15px;
        line-height: 3 !important;
    }
    label {
        font-weight: 400 !important;
    }
    .reset_variations {
        display: none !important;
    }
    select {
        height: 38px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        color: #999;
        text-align: center;
        background-color: #FFF;
        display: inline-block;
        vertical-align: top;
        margin: 10px 0px;
    }
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
    border: 0;
    vertical-align: top;
    line-height: 5em;
}

.woocommerce-variation-add-to-cart {
    .quantity {
        display: block !important;
        width: 100%;
        margin-bottom: 15px;
        label {
            font-weight: 400;
            font-size: 15px;
        }
    }
    input {
        height: 38px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        color: #999;
    }
}

.single_add_to_cart_button {
    border-width: 0px!important;
    border-radius: 5px!important;
    font-size: 16px;
    background-color: #e87b22;
    padding: 20px 15px;
    min-width: 170px;
    &:hover {
        background-color: darken(#e87b22, 10%);
    }
}

.product_meta {
    display: none;
}

.tabs.wc-tabs {
    background-color: #f1f1f3;
    border-bottom: none;
    li {
        border: none;
        border-radius: 0px;
        line-height: 2;
        background-color: transparent;
        padding: 0px;
        margin: 0% 3%;
        font-size: 17px;
        font-weight: normal;
        a {
            font-weight: normal;
            color: #333;
        }
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        &.active {
            background-color: transparent;
            border-bottom: solid 3px #e87b22;
            a {
                font-weight: bold;
            }
        }
    }
}

.custom_tab {
    h2 {
        height: 60px;
        line-height: 60px;
        font-size: 22px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 20px;
    }
    ul {
        list-style-type: none;
        padding: 0px;
        li {
            padding: 8px 0px;
        }
    }
    table {
        width: 80%;
        td {
            border: solid #ddd 1px;
            text-align: center;
            padding: 25px;
        }
    }
}