h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

@include medium() {
    h1 {
        font-size: 30px !important
    }
    h2 {
        font-size: 26px !important
    }
    h3 {
        font-size: 22px !important
    }
}

@include normal() {
    h1 {
        font-size: 22px !important
    }
    h2 {
        font-size: 18px !important
    }
    h3 {
        font-size: 16px !important
    }
    h4 {
        font-size: 15px !important
    }
}

@include small() {
    h1 {
        font-size: 20px !important
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.3;
    font-family: $font-regular !important;
}

p {
    //margin-bottom: 2em;
    @include normal() {
        font-size: 13px;
    }
}

a {
    //@include link($link__color);
    color: grey;
}

.heading_paragraph {
    h1 {
        color: #333;
        font-family: Lato;
        font-size: 36px;
        font-weight: 900;
        line-height: 1.5;
    }
    p {
        font-size: 16px;
        font-family: Lato;
        font-weight: 400;
        color: #333 !important;
        line-height: 1.5;
    }
}