.faq_section {
    h1 {
        height: 18px;
        color: #333;
        font-family: Lato;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 50px !important;
    }
    h3 {
        color: #333;
        font-family: Lato;
        font-size: 22px;
        font-weight: 900;
        margin-top: 30px !important;
    }
    p {
        color: #333;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
    }
}